<template name="widgets">
  <div class="row">
  
  <div class="col-lg-3 col-md-3 col-sm-6">
    <div class="widget">
      <div class="widget-heading clearfix">
        <div class="pull-left">Shares</div>
        <div class="pull-right"><i class="fa fa-angle-down"></i> 40.5<sup>%</sup></div>
      </div>
      <div class="widget-body clearfix">
        <div class="pull-left">
          <i class="fa fa-twitter"></i>
        </div>
        <div class="pull-right number">25000</div>
      </div>

     
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6">
    <div class="widget">
      <div class="widget-heading clearfix" style="background:#047609">
        <div class="pull-left">Downloads</div>
        <div class="pull-right"><i class="fa fa-angle-up"></i> 89.9<sup>%</sup></div>
      </div>
      <div class="widget-body clearfix" style="background:#5EE75F">
        <div class="pull-left">
          <i class="fa fa-upload"></i>
        </div>
        <div class="pull-right number">35000</div>
      </div>
      
    </div>
  </div>
   <div class="col-lg-3 col-md-3 col-sm-6">
    <div class="widget">
      <div class="widget-heading clearfix" style="background:#AC0606">
        <div class="pull-left">Income</div>
        <div class="pull-right"><i class="fa fa-angle-up"></i> 75.9<sup>%</sup></div>
      </div>
      <div class="widget-body clearfix" style="background:#F65050">
        <div class="pull-left">
          <i class="fa fa-line-chart"></i>
        </div>
        <div class="pull-right number">259000</div>
      </div>
      
    </div>
  </div>
   <div class="col-lg-3 col-md-3 col-sm-6">
    <div class="widget">
      <div class="widget-heading clearfix" style="background:#A4A320">
        <div class="pull-left">Calls</div>
        <div class="pull-right"><i class="fa  fa-angle-up"></i> 24.9<sup>%</sup></div>
      </div>
      <div class="widget-body clearfix" style="background:#DEDB35">
        <div class="pull-left">
          <i class="fa fa-phone"></i>
        </div>
        <div class="pull-right number">11500</div>
      </div>
      
    </div>
  </div>
</div>
<hr>
</template>